<!DOCTYPE html>
<html>
    <head>
        <title> blog</title>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.1/semantic.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheet/app.css">    
</head>
    <body>
            <div class="ui top fixed inverted menu">
                <div class="ui container">  
                <a class=" header item"><i class="paper plane icon"></i>Blog Site</a>
                     <a class="ui right item" href="/blogs" >Home</a>
                     <a class="item" href="/blogs/new">New Post</a>
                </div>
        </div>